{% extends "base.html" %}
{% block title %}Статьи{% endblock %}
{% block content %}
        {% if request.user.is_authenticated %}
            <p><a href="{% url 'add_article' %}">Добавить запись</a></p>
             <p><a href="{% url 'public' %}">Все публикации</a></p>
    {% endif %}
    {% if data %}
    <table>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата и время создания</th>
        <th>Краткое описание</th>
    {% for items in data %}
    <tr>
        <td>{{ items.title }}</td>
        <td>{{ items.author }}</td>
        <td>{{ items.created }}</td>
        <td>{{ items.synopsis }}</td>
    </tr>
    {% endfor %}
{% else %}
    <p>Нет записей</p>
{% endif %}
{% endblock %}
