{% extends "base.html" %}
{% block title %}Статьи{% endblock %}
{% block content %}
    {% if data %}
    <table>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата и время создания</th>
        <th>Краткое описание</th>
    {% for items in data %}
    <tr>
        <td>{{ items.article.title }}</td>
        <td>{{ items.article.author }}</td>
        <td>{{ items.article.created }}</td>
        <td>{{ items.article.synopsis }}  <a href="{% url 'detail' items.article.pk %}">Подробнее</a></td>
    </tr>
    {% endfor %}
{% else %}
    <p>Нет записей</p>
{% endif %}
        <p><a href="{% url 'public' %}">Назад</a></p>
{% endblock %}
