{% block nav %}
    {% if request.user.is_authenticated %}
         <div>Hello {{ request.user.username }}</div>
    {% else %}
            <div>Привет 42</div>
    {% endif %}
<ul class="header-list">
<li class="header-item"><a href="{% url 'home' %}">Главная страница</a> <a href="{% url 'last_public' %}">Последние публикации</a></li><br>
        {% if request.user.is_authenticated %}
<li class="header-item"><a href="{% url 'public' %}">Мои публикации</a> <a href="{% url 'logout' %}">Выйти</a> <a href="{% url 'fav' %}">Избранные</a> </li><br>
          {% else %}
<li class="header-item"><a href="{% url 'login' %}">Войти</a> <a href="{% url 'register' %}">Регистрация</a></li><br>
            <p><a href="{% url 'register' %}">Регистрация</a> </p>
        {% endif %}
</ul>
{% endblock %}