{% extends "base.html" %}
{% block title %}Tip{% endblock %}
{% block content %}
        {% if request.user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit">Enter</button>
            </form>
        {% endif %}

<h1>Tip</h1>
<p>
{% if data %}
    {% for text in data %}
    <table>
    <td>
    {{text.author}} <br>
        {{ text.content }} <br>
        {{ text.date }} Like: {{text.countUpVoice}} Dislike: {{text.countDownVoice}}
    </td>
    <td>
        {% if user.is_authenticated %}
            <form method='post' class='form'>
            {% csrf_token %}
            <input type='hidden' name='id' value='{{ text.id }}'>
                {% if user.is_staff or user == text.author %}
            <input type='submit' name='remove' value='Remove'>
                    {% endif %}
            <input type='submit' name='up' value='Up'>
            {% if user.is_staff or user == text.author %}
            <input type='submit' name='down' value='Down'>
                {% endif %}
            </form>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a></p>
                <p><a href="{% url 'register' %}">Register</a> </p>
            {% endif %}
    </td>
    </table>
</p>
     {% endfor %}
</body>
    {% else %}
    <p>No tip</p>
    {% endif %}
{% endblock %}